{% extends "base.html" %}

{% block content %}
<h1 class="title text-center"  style="padding: 5px;">
  Welcome, {{ name }}!
</h1>
<form class="form-horizontal" method="POST" action="/chat">
    <div class="form-group">
        <div class="columns" style="padding: 5px;">
        <div class="column is-four-fifths">
             <input type="text" class="input" id="message_text" name="message_text" placeholder="Enter message text">
        </div>
        <div class="column">
            <button type="submit btn btn-default" class="button is-primary ">Send</button>
        </div>
    </div>
    </div>
</form>
{% for message in messages %}
 <div class="row my_message" style="border-radius: 0.5em;
                                    background-color: rgba(255,255,255, 0.2);
                                    padding: 10px;
                                    margin: 5px">
  <strong class=".col-md-4 text-left ">
    {{message.user_name}}
  </strong>
  <p class=".col-md-4 text-left">
    {{message.text}}
  </p>
 </div>
{% endfor %}

{% endblock %}